@model float
@{
    ViewBag.Title = "Dashboard";
}

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title heading-bold">Automated Teller Machine</h3>
            </div>
            <div class="panel-body dark-font">
                <div class="row">
                    <div class="col-xs-4">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <strong>Quick Withdrawal</strong>
                            </div>
                            <div class="panel-body">
                                <div class="list-group text-center">
                                    <a href="#" class="list-group-item" onclick="withdraw(10);">$10</a>
                                    <a href="#" class="list-group-item" onclick="withdraw(20);">$20</a>
                                    <a href="#" class="list-group-item" onclick="withdraw(50);">$50</a>
                                    <a href="#" class="list-group-item" onclick="withdraw(100)">$100</a>
                                </div>
                            </div>
                        </div>
                        @Html.ActionLink("Account History", "History", "Home", null, new { @class = "btn btn-primary btn-full" })
                    </div>
                    <div class="col-xs-8">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th colspan="2">Account Summary</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        Exmample Account
                                    </td>
                                    <td>
                                        $@Math.Round(Model, 2).ToString()
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="btn-group" role="group" aria-label="..." style="width:100%;">
                            <button type="button" class="btn btn-default col-xs-6" data-toggle="modal" data-target="#withdrawModal">Withdraw</button>
                            <button type="button" class="btn btn-default col-xs-6" data-toggle="modal" data-target="#depositModal">Deposit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="withdrawModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm dark-font">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Withdraw Funds</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-dollar"></i>
                        </span>
                        <input type="text" class="form-control" placeholder="Amount" id="withdrawAmount" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="withdrawSubmit">Submit</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="depositModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm dark-font">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Deposit Funds</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-dollar"></i>
                        </span>
                        <input type="text" class="form-control" placeholder="Amount" id="depositAmount" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="depositSubmit">Submit</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function withdraw(amount)
        {
            $.post("Withdraw", { amount: amount })
                    .done(function (data) {
                        if (data.result == 0)
                        {
                            toastr.error("Insufficient funds.");
                            return;
                        }

                        location.reload();
                    })
                    .fail(function () {
                        toastr.error("Unable to deposit amount in account.");
                    });
        }

        $(document).ready(function () {
            $("#depositSubmit").click(function () {
                var amount = $("#depositAmount").val();

                if(amount == "" || amount == null || amount <= 0)
                {
                    return;
                }

                $.post("Deposit", { amount: amount })
                    .done(function (data) {
                        location.reload();
                    })
                    .fail(function () {
                        toastr.error("Unable to deposit amount in account.");
                    });
            });

            $("#withdrawSubmit").click(function () {
                var amount = $("#withdrawAmount").val();

                if (amount == "" || amount == null || amount <= 0) {
                    return;
                }

                withdraw(amount);
            });
        })
    </script>
}