body {
    margin-top:50px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.btn-full {
    width:100%;
}

.heading-bold {
    font-weight:bold;
}

#giraffeButton {
    opacity:0.2;
    position:absolute;
    top:10px;
    right:10px;
}

#giraffeButton:hover {
    opacity:0.4;
}

.dark-font {
    color: #222222 !important;
}